@model Model.tbl_estacion
@{
    ViewBag.Title = "Index";
}

<div id="page-wrapper">
    <div class="container form-group">
        <div class="jumbotron">
            <div class="panel-green">
                <h3>Bienvenidos a la estacion @Model.nombre_estacion</h3>
            </div>
        </div>
    </div>
</div>

